<li id="expense" data-pos="0" data-recurring="{{ item['recurring'] }}"  data-itemid="{{ item['item_id'] }}" data-paid="{{ item['isPaid'] }}" class="w-full bg-white dark:bg-gray-700">
    <div id="exp-content" class="grid grid-cols-6 relative justify-items-between w-full px-4 pt-0 pb-4 cursor-pointer dark:hover:bg-gray-600 hover:bg-gray-100 border-b border-gray-200 dark:border-gray-600">
        <div class="col-span-2 flex items-center gap-5 col-start-1 justify-self-start">
            <input id="selected-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            <input id="exp-name" type="text" class="justify-start h-7 w-full mr-1 text-current outline-none border border-transparent bg-transparent text-sm focus:ring-blue-500 focus:bg-gray-100 focus:ring-0 dark:bg-transparent dark:border-transparent dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ item['item'] }}"/>
        </div>
        <div class="col-start-3 col-span-2 pr-4">
            {% set cat_idx = item['category']|int %}
            <select id="exp-category" name="exp-category" style="background:none" class="block h-7 px-2 py-0 w-full text-current outline-none border border-transparent bg-transparent text-sm focus:ring-blue-500 focus:bg-gray-100 focus:ring-0 dark:bg-transparent dark:border-transparent dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                {% for category in select_lists['categories'].keys() %}
                    {% if category == select_lists['cat_labels'][cat_idx] %}
                        <option selected value="{{ select_lists['categories'][category] }}">{{ category }}</option>
                    {% else %}
                        <option value="{{ select_lists['categories'][category] }}">{{ category }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="inline-flex col-start-5">
            <div class="flex h-9 items-center">
                <svg class="w-3 h-3 mt-0 text-current" viewBox="0 0 24 24" aria-label="Recurring item" fill="none" xmlns="http://www.w3.org/2000/svg">
                    {% set recurring_idx = item['recurring']|int %}
                    {% if item['recurring'] > 1 %}
                        <title>Recurring {{ select_lists['rec_labels'][recurring_idx] }}</title>
                        <path d="M11.5 20.5C6.80558 20.5 3 16.6944 3 12C3 7.30558 6.80558 3.5 11.5 3.5C16.1944 3.5 20 7.30558 20 12C20 13.5433 19.5887 14.9905 18.8698 16.238M22.5 15L18.8698 16.238M17.1747 12.3832L18.5289 16.3542L18.8698 16.238" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    {% endif %}
                </svg>
            </div>
            <input datepicker datepicker-autohide name="exp-date" type="text" id="exp-date-{{ item['index'] }}" class="h-7 w-full mr-1 text-current outline-none border border-transparent bg-transparent text-sm focus:ring-blue-500 focus:bg-gray-100 focus:ring-0 dark:bg-transparent dark:border-transparent dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" data-recurring="{{ item['recurring']}}" value="{{ item['dateDue'] }}"/>
        </div>
        <div class="grid grid-cols-1 col-end-7 col-span-1 justify-items-end">
            <div class="inline-flex items-center col-span-3 pr-8 text-current">
                {% if item['amount'] < 0 %}
                    <span>-$</span>
                {% else %}
                    <span>$</span>
                {% endif %}
                <input type="number" id="exp-amount" name="exp-amount-{{ item['index'] }}" onchange="updateAmount(this.name)" data-amount="{{ '%0.2f' % item['amount']|float }}" value="{{ '%0.2f' % item['amount']|abs|float }}" class="justify-start h-7 w-full mr-1 text-current outline-none border border-transparent bg-transparent text-sm focus:ring-blue-500 focus:bg-gray-100 focus:ring-0 dark:bg-transparent dark:border-transparent dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 [&::-webkit-inner-spin-button]:appearance-none"/>
                <span id="exp-cumsum">0</span>
            </div>
            <div id="drag-icon" class="h-full w-[30px] absolute bottom-0 right-0 bg-transparent text-black inline-flex items-center dark:text-gray-400">
                <svg fill="currentColor" width="30" height="30" viewBox="0 0 256 256" id="Flat" xmlns="http://www.w3.org/2000/svg">
                    <path d="M104,196.0001a12,12,0,1,1-12-12A12,12,0,0,1,104,196.0001Zm-12-80a12,12,0,1,0,12,12A12,12,0,0,0,92,116.0001Zm72-44a12,12,0,1,0-12-12A12,12,0,0,0,164,72.0001Zm0,44a12,12,0,1,0,12,12A12,12,0,0,0,164,116.0001Zm-72-68a12,12,0,1,0,12,12A12,12,0,0,0,92,48.0001Zm72,136a12,12,0,1,0,12,12A12,12,0,0,0,164,184.0001Z"/>
                </svg>
            </div>
        </div>
        <button id="item-button" type="button" class="grid justify-items-center justify-self-center w-56 rounded-t-md absolute bottom-0 bg-white hover:bg-[#4484CE] text-black hover:text-white focus:ring-1 focus:outline-none focus:ring-[#3b5998]/50 font-medium text-sm text-center items-center dark:text-gray-400 dark:bg-gray-700 dark:border-gray-600 dark:hover:bg-gray-800" data-accordion-target="#item-edit-body-{{ item['index'] }}" aria-expanded="false" aria-controls="item-edit-body-{{ item['index'] }}">
            <svg class="w-6 h-6 text-current" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
            </svg>
        </button>
    </div>
    <div id="item-edit-body-{{ item['index'] }}" class="hidden">
        <div class="grid grid-cols-1 justify-center p-4 border border-b-0 bg-[#EFEFEF] border-gray-200 dark:border-gray-700 dark:bg-gray-900">
            <div class="relative z-0 w-full px-1 group hidden">
                <label for="item-edit-recurring" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Recurring</label>
                <select id="item-edit- recurring" name="item-edit-recurring" class="block py-2.5 px-1 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                    {% for recurring in select_lists['recurring'].keys() %}
                        {% if recurring == select_lists['rec_labels'][recurring_idx] %}
                            <option selected value="{{ select_lists['recurring'][recurring] }}">{{ recurring }}</option>
                        {% else %}
                            <option value="{{ select_lists['recurring'][recurring] }}">{{ recurring }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="flex flex-row align-center justify-center gap-4 z-0 w-full px-1 group">
                <button type="button" data-modal-target="delete-modal" data-modal-toggle="delete-modal" onclick="delete_item_modal_button(this)" class="inline-flex justify-self-center text-[#EFEFEF] {{ color_scheme['light']['bg'] }} hover:text-blue-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 text-sm p-2.5">
                    <svg class="w-5 h-5" fill="currentColor" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd"/>
                    </svg>
                    Delete
                </button>
                <button id="paid-item" type="button" class="inline-flex justify-self-center text-[#EFEFEF] {{ color_scheme['light']['bg'] }} hover:text-blue-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 p-2.5">
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 17.345a4.76 4.76 0 0 0 2.558 1.618c2.274.589 4.512-.446 4.999-2.31.487-1.866-1.273-3.9-3.546-4.49-2.273-.59-4.034-2.623-3.547-4.488.486-1.865 2.724-2.899 4.998-2.31.982.236 1.87.793 2.538 1.592m-3.879 12.171V21m0-18v2.2"/>
                    </svg>
                    Paid
                </button>
            </div>
        </div>
    </div>
</li>

